@media only screen and (max-width: 635px) {
    #logo {
        display: none;
    }
    #headerwrap {
        /* padding: 1%; */
        height: 100px;
    }
    #first-row{
        transform: translate(0,-300);
        /* padding: 0%; */
    }
   #molecule-img {
        position: absolute;
        transform: translate(75px, -650px);
    }
<<<<<<< HEAD
}









a {
    text-decoration: underline;
    -webkit-text-fill-color: rgb(105,105,105);
=======
>>>>>>> 4901e09800c0a653b58729a6b1ad3250b8fc3a50
}

#header-title1 {
    -webkit-text-fill-color: white;
    font-family: font-family: 'Cutive', serif;
    padding-top: 15px;

}
#header-title2 {
    -webkit-text-fill-color: white;
    font-family: font-family: 'Cutive', serif;

}

html, body {
    overflow-x: hidden;
  }
  body {
    position: relative
  }

#education-title h3{
    text-align: center;
    border-bottom: 1px solid rgb(105,105,105);
    margin: 28px 20px 0px 0px;
    
}

p {
    -webkit-text-fill-color: rgb(85,85,85);
    justify-content: left;
    font-size: 22px;
    margin: 28px 20px 18px 20px;
}

h3 {
    -webkit-text-fill-color: rgb(45,45,45);
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 34px;
}

#education-title p{
    /* text-align: right;
    border-bottom: 1px solid black;
    margin: 28px 20px 18px 14px; */
    font-family: 'consolas';
}

#awards-fellowships h3{
    text-align: left;
    margin: 28px 20px 14px 14px;
    border-bottom: 1px solid rgb(105,105,105);
}
#awards-fellowships p{
    font-family: 'consolas';
    justify-content: right;
}
#academic-positions h3{
    text-align: right;
}
#academic-positions p{
    text-align: right;
}
#prof-org h3{
    text-align: right;
    margin: 28px 20px 14px 14px;
    border-bottom: 1px solid rgb(105,105,105);

}

#prof-org p{
    font-family: 'consolas';
}
#publications p{
    font-family: 'consolas';
}
#students-left h3{
    text-align: left;
    margin: 28px 20px 14px 14px;
    border-bottom: 1px solid rgb(105,105,105);

}
#students-left a{
    -webkit-text-fill-color: rgb(105,105,105);
    text-align: right;
}
#students-right h3{
    text-align: right;
    margin: 28px 20px 14px 14px;
    border-bottom: 1px solid rgb(105,105,105)

}
#students-right a{
    -webkit-text-fill-color: rgb(105,105,105);
    text-align: left;
}

#students-right a:hover{
    -webkit-text-fill-color: rgb(43, 153, 226);
    text-align: center;
}
#students-left a:hover{
    -webkit-text-fill-color: rgb(43, 153, 226);
    text-align: center;
}
#intro{
    padding-right: 28px;
    padding-bottom: 28px;
    border-right: solid 1px rgb(105,105,105);
    border-bottom: solid 1px rgb(105,105,105);
}
#first-row{
    transform: translate(0,200);
}
#lectures h3{
    
    text-align: left;
    margin: 28px 20px 14px 14px;
    border-bottom: 1px solid rgb(105,105,105);

}
#lectures p{
    font-family: 'consolas';
}

#publications h3{
    text-align: right;
    margin: 28px 20px 14px 14px;
    border-bottom: 1px solid rgb(105,105,105);

}





body {
    background-color: rgba(255,255,255);
    /* display: flex; */
    /* overflow: hidden; */
        overflow-x: hidden;
}

    
#headerwrap {
    background-color: rgb(185, 164, 240);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 900;
    /* padding-bottom: 6px; */
}


#molecule-img{
    display:block;
    position: fixed;
    opacity: 1%;
    z-index: -900;
    height:45%;
    width:45%;
    transform: translate(250px,-350px);
    /* background-repeat:no-repeat; */
    background-image:url(assetsv2/backdrop-vert-grey-purp-02);
    /* background-position:top;
    
    margin:-100px 0 32px 0 */
    /* overflow-x: hidden; */
}

.header h1{
    padding-top: 16px;
    text-align: left;
    -webkit-text-fill-color: rgb(75,75,75);
    font-family: 'consolas';

}
.header h2{
    text-align: left;
    font-family: 'consolas';
    -webkit-text-fill-color:rgb(75,75,75);
}
.row{
    margin: 18px, 18px, 20px, 20px;
}

.col-sm-3 {
    margin: 28px 0px 20px 28px;
}
.col-sm-9{
    background-color: green;
    padding: 18px, 18px, 20px, 20px;
} 
